.DS_Store
.env
.env.local
*.crt
*.key
*.p12
*.pem
*.pfx
.cache/
.data-dev/
bin/
dist/
/reflow-desktop
/ReFlow.app
coverage/
node_modules/
.pnpm-store/
.gocache/
web/coverage/
web/dev-dist/
web/dist/
web/node_modules/
*.log
*.syso
build/darwin/ReFlow.icns
build/windows/ReFlow.ico
build/windows/MicrosoftEdgeWebview2Setup.exe
